 p {font-family: Arial;    
    }
    h1 {background-color: #CBC3E3}
    h3 {background-color:#FFB6C1}

    #MRPuebla {
      border: black dashed;
      padding: 6px;
      margin: 6px;
      height:230px;
      width: 200px;
      background-color: #FDFD96;
      float: right;
    }
    #MR {
        width: 90%;
        height: 90%;
    }
    
    th, td {
      background-color:#FFD1dc;
      padding: 3px;
    }
